@font-face {
    font-family: "OS";
    src: url(IRANSansWeb.woff);
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    line-height: 1.5;
    background-color: #e9e9e9;
}

:root {
    --color: #386A20;
}

main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 250px;
    /* background-color: red; */
}

.btn {
    border: none;
    font-size: 0.95rem;
    font-family: "OS";
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
}

.Filled {
    background-color: var(--color);
    width: 100%;
    border-radius: 50px;
    padding: 7px;
    color: #FFFFFF;
}

.Outlined {
    background-color: #3b771f69;
    color: #254616;
    border-radius: 50px;
    padding: 7px 20px;
}

.box_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box_btn .btn {
    border-radius: 50px;
    padding: 5px;
    width: 70px;
}

.Back {
    border: 1px solid var(--color);
    background-color: transparent;
    color: var(--color);
}

.Next {
    background-color: #3b771f69;
    color: #254616;
}

.Text {
    background-color: transparent;
    color: var(--color);
}